* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: darkgrey;
  overflow-y: hidden;
  --canvas-height: 300px;
}
.upper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.metrics {
  width: 20em;
  height: var(--canvas-height);
  background-color: white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
}
.metrics::-webkit-scrollbar {
  display: none;
}
.metrics {
  scrollbar-width: none;
}
.metrics-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5em;
}
#canvas-container {
  display: flex;
  justify-content: center;
  height: var(--canvas-height);
  width: calc(var(--canvas-height) * (16 / 9));
}

canvas {
  height: var(--canvas-height);
  width: calc(var(--canvas-height) * (16 / 9));
  border: 1px solid black;
}
.controls {
  margin: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
}
.viz-outer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.viz-column-outer {
  width: 25%;
  background-color: white;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.viz-column-header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.viz-column-inner {
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  background-color: white;
  overflow-y: scroll;
  max-height: 20em;
}
.viz-column-inner::-webkit-scrollbar {
  display: none;
}
.viz-column-inner {
  scrollbar-width: none;
}
.viz-frame {
  font-size: 1em;
  color: white;
  width: 3em;
}
