body {
  background-color: darkgrey;
  overflow-y: hidden;
  --canvas-height: 600px;
}
#canvas-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: calc(var(--canvas-height) * (9 / 16));
}

canvas {
  width: var(--canvas-height);
  height: calc(var(--canvas-height) * (9 / 16));
  border: 1px solid black;
}
.controls {
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
  width: 100%;
}
.viz-outer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.viz-column-outer {
  width: 25%;
  background-color: white;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.viz-column-header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.viz-column-inner {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.1em;
  background-color: white;
  overflow-y: scroll;
  max-height: 20em;
}
.viz-column-inner::-webkit-scrollbar {
  display: none;
}
.viz-column-inner {
  scrollbar-width: none;
}
.viz-frame {
  font-size: 0.7em;
  color: white;
  width: 3em;
}
